
@import '../../styles/variables';

$baseColor: #087f23;

.image-root {
    width: 100%;
    position: relative;
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 8px 20px;
        position: sticky;
        background-color: #fff;
        height: 50px;
        top: 0;
        left: 0;
        right: 0;
        .link-item {
            font-size: 18px;
            font-weight: 900;
            >a {
                margin-right: 32px;
                color: $baseColor;
                &:hover {
                    color: #17e17c;
                }
            }
        }
    }
    .image-home {
        width: 100%;
        height: 500px;
        object-fit: cover;
        @include breakpoint(smDown) {
            height: 300px;
        }
    }
}

@-webkit-keyframes myFixed {
    0% { color: #4caf50; } 
    50% { color: #17e17c; } 
    100% { color: #4caf50;  } 
}
@-moz-keyframes myFixed { 
    0% { color: #4caf50; } 
    50% { color: #17e17c;  } 
    100% { color: #4caf50;  } 
}
@-o-keyframes myFixed { 
    0% { color: #4caf50; } 
    50% { color: #17e17c;  } 
    100% { color: #4caf50;  } 
}
@keyframes myFixed { 
    0% { color: #4caf50; } 
    50% { color: #17e17c;  } 
    100% { color: #4caf50;  } 
} 
.fixed-contact {
    font-size: 14px;
    font-weight:bold;
    -webkit-animation: myFixed 700ms infinite;
    -moz-animation: myFixed 700ms infinite; 
    -o-animation: myFixed 700ms infinite; 
    animation: myFixed 700ms infinite;
}