@import "../variables";

.footer-root {
  width: 100vw !important;
  min-height: 300px !important;
  border-top: solid 2px #aaa;
  background-color: rgb(247, 243, 243);
  margin-top: 40px !important;
  height: auto;
  .MuiGrid-item {
    .item-footer {
      width: calc(100% - 20px);
      padding: 20px;
      .title-footer {
        font-size: 18px !important;
        font-weight: 700 !important;
        text-transform: uppercase;
        padding: 16px 0;
        color: #000;
      }
      .item-content {
        padding: 4px 0;
      }
    }
  }
}
