@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


.block-containers {
    .button {
        width: 25rem;
        height: 2rem;
        cursor: pointer;
        background-color: black;
        color: whiteSmoke;
        border: black;
        font-family: "Roboto"; 
    }
}

.not-data {
    height: 200px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    font-size: 18px;
    font-weight: 700;
}

.input-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .input-item {
        width: 100%;
        height: 40px;
        outline: none;
        border-radius: 4px;
        padding: 4px 8px;
        border: 1px solid gray;
        margin: 4px 0;
    }
    .sign-up {
        margin-top: 8px;
    }
}
