@import "../variables";

.main-roots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  .MuiGrid-container {
    max-width: 1200px;
  }
  .block-location {
    width: 100%;
    padding: 20px 0px;
    .MuiGrid-item {
      .image-view-location {
        width: 100% !important;
        height: 240px !important;
        object-fit: cover !important;
        border-radius: 4px;
        transition: transform 0.1s;
        &:hover {
          transform: scale(1.02);
          cursor: pointer;
          box-shadow: 0px 8px 24px rgb(149 157 165 / 20%);
        }
      }
      .image-lux-home {
        width: 100%;
        height: 350px;
        border-radius: 4px;
        @include breakpoint(smDown) {
          height: 250px !important;
        }
      }
      .image-overview-project {
        width: 100%;
        height: 400px;
        border-radius: 4px;
        @include breakpoint(smDown) {
          height: 250px !important;
        }
      }
      .block-item-utilitie {
        border: solid 1px $baseColor;
        padding: 8px;
        border-radius: 4px;
        .MuiSvgIcon-root {
          margin-right: 8px;
          font-size: 20px !important;
        }
        .content-item-utilitie {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 16px;
          font-weight: 500;
          padding: 4px 0;
        }
      }
      .item-reason-casa {
        box-shadow: 0px 8px 24px rgba(120, 124, 128, 0.2);
        height: 150px;
        border-radius: 4px;
        @include breakpoint(smUp) {
          height: 150px;
        }
        @include breakpoint(smDown) {
          height: auto;
        }
        .title-reason {
          text-align: center;
          color: #222222;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 700;
          padding: 8px 0;
        }
        .content-reason {
          padding: 8px;
          color: #222222;
          font-size: 14px;
          font-weight: 400;
        }
      }
      .elementor-video-advertise {
        @include breakpoint(smDown) {
          height: 250px !important;
        }
      }
      .elementor-video-introduce {
        @include breakpoint(smDown) {
          height: 250px !important;
        }
      }
    }
    .subdivision-item-root {
      height: 360px;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0px 8px 24px rgba(120, 124, 128, 0.2);
      text-align: center;
      cursor: pointer;
      .image-subdivision {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
      .title-subdivision {
        padding: 4px 8px;
        font-size: 16px;
        font-weight: 700;
        color: #222222;
      }
      .content-subdivision {
        padding: 4px 8px;
        font-size: 14px;
        font-weight: 400;
        color: #222222;
      }
      &:hover {
        box-shadow: 0px 0px 24px rgba(33, 88, 150, 0.2);
      }
    }
  }
  .image-location {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 4px;
    @include breakpoint(smDown) {
      height: 250px !important;
    }
  }
}

.title-base {
  color: $baseColor;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 0;
}

.content-base {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  padding: 8px 0;
}

.max-width-base {
  max-width: 1200px;
}

.form-fixed-root {
  position: fixed;
  right: 8px;
  bottom: 200px;
}
